.row {
  display: flex;
  justify-content: center;
}

.column1,
.column2,
.column3 {
  padding: 20px;
}

.input {
  width: 100%;
}

input {
  width: 18%;
  height: 2em;
  margin-top: 1em;
  font-size: 17px;
}

img {
  width: 1em;
}

.btnTask3 {
  padding: 12px 20px;
  font-size: large;
  background-color: rgb(102, 192, 228);
  color: white;
  border-radius: 20px;
  border: none;
}

select {
  width: 7em;
  font-size: 17px;
  margin-top: 10px;
}

span {
  font-size: large;
  font-weight: bold;
}
