textarea {
    width: 60%;
    height: 7em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.resultTask4 {
    padding: 20px;
}

.btnTask4 {
    padding: 10px 18px;
    background-color: blue;
    color: white;
    font-size: large;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}